html, 
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main_page {
    background: linear-gradient(270deg, #D9D9D9 0%, #A5DEFF 0.01%, #FCFEFF 100%);
    height: 100%; 
    display: flex;
    flex-direction: column;
}
header {
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo_text {
    margin-left: 18px;
}

.banderogus_container {
    background-color: #fff;
    padding: 60px 56px;
    align-self: center;
}

.banderogus_greeting {
    color: #1C2024;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.banderogus_start_text {
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}


.banderogus_title {
    color: #1C2024;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 24px;
}

.banderogus_descr {
    color: #1C2024;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}

.banderogus_launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12PX 24PX;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.main_page_row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.banderogus_image {
    align-self: flex-end;
}

.gus_facts {
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gus_title { 
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1C2024;
    margin: 16px 0;
}

.gus_descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C2024;
    text-align: center;
    width: 875px;
}

.gus_facts_row {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    }

.gus_fact_item {
    width: 33%;
}

.gus_fact_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1C2024;
    margin: 12px 0 32px 0;
}

.gus_fact_descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C2024;
    width: 280px;
}

.victory_bgd {
    background: linear-gradient(270deg, #D9D9D9 0%, #A5DEFF 0.01%, #FCFEFF 100%);
    width: 1170px;
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.victory_footer {
    display: flex;
    justify-content: center;
}
.victory_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1C2024;
    margin: 16px 0;
}

.victory_descr {
    color: #1C2024;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 875px;
    text-align: center;

}

.modal_bgd {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(28 32 36 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_form_conteiner {
    background: #fff;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.modal_form_title {
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 32px 0 12px 0;
}

.modal_form_descr {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.modal_form_field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal_field_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}

.modal_field_input {
    box-sizing: border-box;
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    padding: 4px 8px;

}
.modal_form_button {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12PX 24PX;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    margin-top: 24px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    border: 0;
    background: none;
}

.modal_descr {
    margin-bottom: 0;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}